<footer class="mt-auto">
  <div class="bg-slate-800 grid grid-cols-6 border-t boder-white/10 pt-8 sm:mt-20 lg:mt-24">
    <div class="flex justify-end">
      <%= image_tag 'avator.jpeg', class:"inline-block w-10 h-10 rounded-full mt-5" %>
    </div>
    <div class="ml-4 my-4 col-span-4">
        <h2 class="text-sm leading-5 text-white">About me:</h2>
        <p class="text-sm leading-5 text-white">趣味でプログラミングをやっている40代です。最近は週末はRailsでサイトを作ったり、
      平日はLeetCodeのアルゴリズムとデータ構造の問題を解いています。このサイトはrailsの勉強のために作りました。
        </p>
      </div>
    </div>

</footer>