<% current_page_class = "relative z-10 inline-flex items-center bg-teal-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600"%>
<% normal_page_class = "relative bg-white inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0a" %>
<span class="<%= page.current? ? current_page_class : normal_page_class %>">
  <%= link_to_unless page.current?, page, url, {remote: remote, rel: page.rel} %>
</span>

